/*** GLOBAL SETTINGS STARTS HERE ***************************************************/
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400|Lato&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Alegreya Sans', Arial, Helvetica, sans-serif;
}
/*** GLOBAL SETTINGS ENDS HERE *****************************************************/
