.App {
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .blogitemlg{
  margin:1% auto;
    width: 80%;
    height: 55vh;
    /* background-color: yellow; */
  }
  
  .blogitemlgimage img{
  
    height: 55vh;
    width: 40%;
  }
  .rightimagetext{
  
    width: 50%;
    height: 50vh;
    float: right;
    margin-right: 5%;
    /* background-color: red; */
  }
  .rightimagetext h1{
  
    font-style: oblique;
  }
  
  hr.style-eight {
    height: 10px;
    border: 1;
    box-shadow: inset 0 9px 9px -3px rgba(11, 99, 184, 0.8);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    margin-top: 2%;
    }
  .headingflex{
  
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
  }
    .chef{
      font-style: oblique 10deg;
      color: goldenrod;
      width: 50%;
    }
    .date{
      font-style: oblique 10deg;
      color: goldenrod;
      
      width: 50%;
      height: 7vh;
      
    }
    /* .underflextext{
      
    } */
  
    .batouna
    {
      text-align: center;
      margin-top: 5%;
    }
    .batouna button{
      display: inline-block;
      padding: 15px 25px;
      font-size: 85%;
      font-weight: bold;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      color: #fff;
      background-color: #4CAF50;
      border: none;
      border-radius: 15px;
      box-shadow: 0 9px #999;
    }
  
    .blogitemlisting
    {display: flex;
      flex-wrap: wrap;
      margin:1% auto;
    width: 80%;
    height: 130vh;
    background-color: #4CAF50;
    
    }
    .blogitemsm{
  margin: 4% auto;
      width: 30%;
      height: 50vh;
      /* background-color: red; */
      border: skyblue;
      border-style: groove;
      border-radius: 5%;
    }
    .blogitemsm img{
  margin-left: 15%;
  width: 70%;
  height: 30vh;
    }
  
    .textunderimage{
      margin-left: 15%;
  margin-top: 2%;
  line-height: 240%;
    }