.CategoryListing-container {
  width: 50vw;
  margin: 30px auto;
}
.CategoryListing-lists {
  display: flex;
  justify-content: space-around;
}

/*-------------------------CATEGORY ITEM----------------------*/
.CategoryItem-mainList {
  color: darkgoldenrod;
  list-style: none;
  font-size: 20px;
  text-align: center;
  width: 150%;
}

.CategoryItem-mainList:hover {
  cursor: pointer;
  text-shadow: 2px 2px 10px black;
}
