/*** PRODUCT HEADER STARTS HERE ************************************************/
.productHeader {
  background-image: linear-gradient(
      rgba(117, 29, 82, 0.4),
      rgba(117, 29, 82, 0.6)
    ),
    url(../../../Assets/img/productBanner.jpg);
  background-size: cover;
  background-position: center;
  height: 166px;
  padding-left: 80px;
  padding-top: 22px;
}

.logoBanner {
  background-image: url(../../../Assets/img/logo.png);
  background-size: cover;
  background-position: center;
  width: 193px;
  height: 120px;
}
/*** PRODUCT HEADER ENDS HERE **************************************************/

/*** CATEGORY LISTING STARTS HERE **********************************************/
.CategoryListing-container {
  width: 100%;
  padding: 10px 0;
  box-shadow: 0 1px 2px #c9a74d;
}

.CategoryListing-lists {
  width: 60vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

/*-------------------------CATEGORY ITEM----------------------*/
.CategoryItem-mainList {
  color: #c9a74d;
  list-style: none;
  font-size: 21px;
  text-align: center;
  text-transform: uppercase;
}

.CategoryItem-mainList:hover {
  cursor: pointer;
  color: #751d52;
  /* text-shadow: 2px 2px 10px black; */
}

.ProductsListing-container {
  width: 90vw;
  margin: 60px auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
/*** CATEGORY LISTING ENDS HERE ************************************************/

/*----------------------PRODUCTS ITEM--------------------------*/
.product__container {
  width: 240px;
  /* padding-top: 10px; */
  /* padding-bottom: 20px; */
  margin: 20px 20px 60px 20px;
  /* background-color: rgba(235, 235, 235, 0.8); */
  /* height: 400px; */
  /* margin-bottom: 35px; */
  /* box-shadow: 5px 5px 10px darkgoldenrod; */
  /* display: flex;
  flex-direction: column; */
  /* border: 1px solid #c9a74d; */
}

/* .ProductsItem-container:hover {
  box-shadow: 8px 8px 10px darkgoldenrod;
} */

.product__picture {
  width: 160px;
  height: 160px;
  /* background-color: rgba(0, 0, 0, 0.1); */
  /* height: 65%; */
  background-size: cover;
  background-position: center;
  margin: 10px auto 20px auto;
}

.product__details {
  /* background-color: rgba(0, 0, 0, 0.1); */
  width: 100%;
  height: 100%;
  /* height: 35%; */
  text-align: center;
  display: flex;
  flex-direction: column;
}
.product__details--name {
  /* color: darkgoldenrod; */
  /* background-color: white; */
  width: 100%;
  font-size: 24px;
  padding: 15px 0;
  border: 1px solid #c9a74d;
  /* height: 50%; */
  /* line-height: 60px; */
  /* text-overflow: ellipsis; */
  /* white-space: nowrap; */
  /* overflow: hidden; */
  /* border: 2px solid black; */
}

.product__details--box {
  width: 100%;
  display: flex;
}

.product__details--price {
  width: 50%;
  font-size: 25px;
  padding: 10px 0;
  border: 1px solid #c9a74d;
  border-top: 0;
  /* height: 100%; */
  /* line-height: 65px; */
  /* border: 2px solid black; */
}

.product__details--buy {
  width: 50%;
  line-height: 50px;
  border: 1px solid #c9a74d;
  border-top: 0;
  border-left: 0;
  display: flex;
}

.product__details--buy a {
  display: block;
  width: 100%;
  height: 100%;
  color: #c9a74d;
  font-size: 20px;
  text-decoration: none;
}

.product__details--buy a:hover {
  color: #c9a74d;
  background-color: #751d52;
}

.heroButton a:hover {
  border: 1px solid #751d52;
  background-color: transparent;
  color: #751d52;
  font-weight: bold;
}

@media screen and (max-width: 720px) {
  .ProductsListing-container {
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .ProductsItem-container {
    width: 100%;
    height: 400px;
  }
}
