.navigation {
}

.navigation__checkbox {
  display: none;
}

.navigation__button {
  background-color: #fff;
  height: 70px;
  width: 70px;
  position: fixed;
  top: 60px;
  right: 60px;
  border-radius: 50%;
  box-shadow: 0 10px 30px rgba(117, 29, 82, 0.1);
  z-index: 2000;
  text-align: center;
  cursor: pointer;
}

.navigation__background {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: fixed;
  top: 65px;
  right: 65px;
  background-image: radial-gradient(#a76f90, #751d52);
  z-index: 1000;

  /*** ANIMATION ***/
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;

  opacity: 0;
  width: 0;

  /*** ANIMATION ***/
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation__list {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}

.navigation__item {
  margin: 20px;
  visibility: hidden;
}

.navigation__link:link,
.navigation__link:visited {
  display: inline-block;
  font-size: 26px;
  font-weight: 300;
  padding: 10px 20px;
  color: #c9a74d;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    #751d52 50%
  );
  background-size: 230%;
  transition: all 0.4s;
}

.navigation__link span {
  display: inline-block;
  margin-right: 15px;
}

.navigation__link:hover,
.navigation__link:active {
  background-position: 100%;
  transform: translateX(10px);
}

.navigation__link:focus .navigation__nav {
  opacity: 0;
  width: 0;
}

/*** TOGGLE FUNCTIONALITY STARTS HERE ******************************************/
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}

.navigation__checkbox:checked
  ~ .navigation__nav
  .navigation__list
  .navigation__item {
  visibility: visible;
}
/*** TOGGLE FUNCTIONALITY ENDS HERE ********************************************/

/*** TOGGLE ICON STARTS HERE ***************************************************/
.navigation__icon {
  position: relative;
  margin-top: 35px;
}

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
  display: inline-block;
  width: 30px;
  height: 2px;
  background-color: #751d52;
}

.navigation__icon::before,
.navigation__icon::after {
  content: '';
  position: absolute;
  left: 0;
  transition: all 0.2s;
}

.navigation__icon::before {
  top: -8px;
}
.navigation__icon::after {
  top: 8px;
}

.navigation__button:hover .navigation__icon::before {
  top: -10px;
}

.navigation__button:hover .navigation__icon::after {
  top: 10px;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

/*** TOGGLE ICON ENDS HERE *****************************************************/

/*** MEDIA QUERY STARTS HERE ***************************************************/
@media (max-width: 1200px) {
}
/*** MEDIA QUERY ENDS HERE *****************************************************/
