@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400|Lato&display=swap');

.testimonials__list {
  width: 88%;
  height: 350px;
  margin: 0 6% 0 6%;
  position: absolute;
  top: 360%;
  margin-top: 100px;
  background-color: red;
}

.testimonials__container {
  height: 350px;
  outline: none;
  background-color: #fff;
}

.testimonials__card {
  position: relative;
  background-color: #fff;
  height: 300px;
  width: 750px;
  margin: 10px auto 0 auto;
  padding: 20px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.testimonials__content {
  width: 400px;
  font-size: 17px;
  line-height: 1.6;
  margin: 20px auto 0 auto;
  text-align: center;
}

.testimonials__content::before {
  position: absolute;
  top: -30px;
  left: 40px;
  content: '\201C';
  font-size: 150px;
  color: #751d52;
}

.testimonials__line {
  content: '';
  display: block;
  width: 150px;
  height: 1px;
  margin: 20px auto;
  background-color: #c9a84f;
}

.testimonials__name {
  text-align: center;
}

.slick-list {
  width: 100%;
}

.slick-prev {
  left: -47px;
}

.slick-next {
  right: -27px;
}

.slick-next:before,
.slick-prev:before {
  font-size: 40px;
  line-height: 1;
  opacity: 0.75;
  color: #c9a84f;
}
